<div class="group space-bottom"></div>
<hr />
<h2 class="text-center">Add Location</h2>

<form action="/location/create" method="POST" id="login-form">
    <div class="control-group">
        <input type="text" class="form-control text-center" placeholder="location" name="name" required>
        <label for="parentId">Located within</label>
        <select name="parentId">
            <% for(p=0;p<parents.length;p++) { %>
                <option value=<%= parents[p]['val'] %> ><%= parents[p]['text'] %></option>
            <% } %>
        </select>
        
    </div>
    
    <input type="submit" class="submit btn fade" value="Add"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
<hr />