<form id="uploadForm"
enctype="multipart/form-data"
action="/upload/upload"
method="post">
<input type="file" id="userPhotoInput" name="userPhoto" />
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Upload"/>    
</form>