<div class="group">
    <a class="grid-half fade" href="/user/<%= sesUserId %>">Profile</a><a class="grid-half fade" href="/">Logout</a>
</div>
<hr />

<h2>Please send all feedback to:</h2>
<h4>somewhere [at] someaddress.com</h4>

<hr />
